# build tools related
target/
project/target

# IDE related
.metals/
.bloop/
.bsp/
.vscode/
.idea/
.scala-build/
project/metals.sbt

# application related
lmdb-test-data/

# temporary files
.DS_Store/
*~
.~*
nohup.out
*.swp
*.iml
test*.log
*.tmp
null
.attach_pid*