# build tools related
target/
project/target
.lmdb/
.direnv

# IDE related
.metals/
.bloop/
.bsp/
.vscode/
.idea/
.scala-build/
project/metals.sbt

# application related
lmdb-test-data/
docs/internal

# temporary files
.DS_Store/
*~
.~*
nohup.out
*.swp
*.iml
test*.log
*.tmp
null
.attach_pid*

# Security purposes
.envrc
